<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>You really need some help. A regular psychotrist couldn't even help you. You need a team. A team of psychotrists working around the clock. You need to go to Vienna or something.</p>
